body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
h1 {
    margin-bottom: 20px;
}
button {
    width: 378px;
    height: 248px;
    background: url('../media/telegraph_up.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    outline: none;
}